<a href="https://colab.research.google.com/github/roapaula/AutomationWPython0/blob/main/Crash_Course_in_Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HELLO PYTHON
PRIMEROS PASOS

Print ()

In [1]:
# Syntax for printing a string of text
print("I love Python!")


# Syntax for printing numeric values
print(360)
print(32*45)


# Syntax for printing the value of a variable
value = 8*6
print(value)

I love Python!
360
1440
48

Arithmetic Operators

In [2]:
# Multiplication, division, addition, and subtraction
print(3*8/2+5-1)

# Exponents
print(4**6) # Syntax means 4 to the power of 6
print(4**2) # To square a number
print(4**3) # To cube a number
print(4**0.5) # To find the square root of a number

# To calculate how many different possible combinations can be
# formed using a set of "x" characters with each character in "x"
# having "y" number of possible values, you will need to use an
# exponent for the calculation:
x = 4
y = 26
print(y**x)

16.0
4096
16
64
2.0
456976

Variables with assignment and arithmetic operators

In [3]:
# Assignment of values to the variables:
years = 10
weeks_in_a_year = 52
# This variable is assigned an arithmetic calculation:
weeks_in_a_decade = years * weeks_in_a_year
# Prints the calculation stored in the "weeks_in_a_decade" variable:
print(weeks_in_a_decade)

520

# BASIC PYTHON SYNTAX

Assignment operator =  assign values to variables

Basic arithmetic operators with variables to create expressions

Explicit conversion to change a data type from Float to String

In [4]:
'''
The following lines assign the variable to the left of the =
assignment operator with the values and arithmetic expressions
on the right side of the = assignment operator.
'''
hotel_room = 100
tax = hotel_room * 0.08
total = hotel_room + tax
room_guests = 4
share_per_person = total/room_guests

# This line outputs the result of the final calculation stored
# in the variable "share_per_person"
print("Each person needs to pay: " + str(share_per_person)) # change a data type

Each person needs to pay: 27.0

Output multiple string variables on a single line to form a sentence

In [5]:
# The following 5 lines assign strings to a list of variables.
salutation = "Dr."
first_name = "Prisha"
middle_name = "Jai"
last_name = "Agarwal"
suffix = "Ph.D."

print(salutation + " " + first_name + " " + middle_name + " " + last_name + ", " + suffix)
# The comma as a string ", " adds the conventional use of a comma plus a
# space to separate the last name from the suffix.

# Alternatively, you could use commas in place of the + connector:
print(salutation, first_name, middle_name, last_name,",", suffix)
# However, you will find that this produces a space before a comma within a string.

Dr. Prisha Jai Agarwal, Ph.D.
Dr. Prisha Jai Agarwal , Ph.D.

Resolve TypeError caused by a data type mismatch issue

Use an explicit conversion function

In [8]:
#TRY THIS: print("5 * 3 = " + 5*3)

# Resolution:
print("5 * 3 = " + str(5*3))
#
# To avoid a type error between the string and the integer within the
# print() function, you can make an explicit data type conversion by
# using the str() function to convert the integer to a string.

5 * 3 = 15

Resolve a ZeroDivisionError caused by an attempt to divide by 0

In [9]:
numerator = 7
denominator = 1   # Possible resolution: Change the denominator value
result = numerator / denominator
print(result)

7.0