<a href="https://colab.research.google.com/github/roapaula/AutomationWPython0/blob/main/Crash_Course_in_Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## FOR AND WHILE LOOPS IN PYTHON

In [1]:
# This function outputs an addition table. It is written to end after printing 5 lines of the addition table, but it will break out of the
# loop if the "my_sum" variable exceeds 20.
def addition_table(given_number):
    iterated_number = 1
    my_sum = 1
    while iterated_number <= 5:
        my_sum = given_number + iterated_number
        if my_sum > 20:
            break
        print(str(given_number), "+", str(iterated_number), "=", str(my_sum))
        iterated_number += 1
addition_table(5)
addition_table(17)
addition_table(30)

5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
17 + 1 = 18
17 + 2 = 19
17 + 3 = 20

In [ ]:
# "given_number" variable, passed through the function’s parameters. The "count" return value includes the "given_number" itself as a factor (n*1).
def count_factors(given_number):
    factor = 1
    count = 1
    if given_number == 0:
        return 0
    while given_number > factor:
        if given_number % factor == 0:
            count += 1
        factor += 1
    return count

print(count_factors(0))
print(count_factors(4))
print(count_factors(5))
print(count_factors(1))
print(count_factors(2))
print(count_factors(24))

In [ ]:
def sum_divisors(number):
    # Initialize the appropriate variables
    total = 0
    divisor = 1

    # Avoid dividing by 0 and negative numbers in the while loop by exiting the function
    # if "number" is less than one
    if number < 1:
        return 0

    while divisor <= number // 2:
        if number % divisor == 0:
            total += divisor
        divisor += 1

    return total

print(sum_divisors(0)) # Should print 0
print(sum_divisors(3)) # Should print 1
print(sum_divisors(36)) # Should print 1+2+3+4+6+9+12+18
print(sum_divisors(102)) # Should print 1+2+3+6+17+34+51

# Exercice Quiz
Find the bug and fix the infinite loop

With this two lines it fixed

> if number == 0:
     return False

In [ ]:
def is_power_of_two(number):
  # This while loop checks if the "number" can be divided by two
  # without leaving a remainder. How can you change the while loop to
  # avoid a Python ZeroDivisionError?
  if number == 0:
      return False

  while number % 2 == 0:
    number = number / 2
  # If after dividing by 2 "number" equals 1, then "number" is a power
  # of 2.
  if number == 1:
    return True
  return False


# Calls to the function
print(is_power_of_two(0)) # Should be False
print(is_power_of_two(1)) # Should be True
print(is_power_of_two(8)) # Should be True
print(is_power_of_two(9)) # Should be False

Returns de sum of all divisors of a number without including the number itself

In [ ]:
def sum_divisors(number):
    # Initialize the appropriate variables
    total = 0
    divisor = 1

    # Avoid dividing by 0 and negative numbers in the while loop by exiting the function
    # if "number" is less than one
    if number < 1:
        return 0

    while divisor <= number // 2:
        if number % divisor == 0:
            total += divisor
        divisor += 1

    return total

print(sum_divisors(0)) # Should print 0
print(sum_divisors(3)) # Should print 1
print(sum_divisors(36)) # Should print 1+2+3+4+6+9+12+18
print(sum_divisors(102)) # Should print 1+2+3+6+17+34+51

0
1
55
114

In [ ]:
def multiplication_table(number):
    # Initialize the appropriate variable
    multiplier = 1

    # Complete the while loop condition.
    while number > 0 and multiplier <= 5:
        result = number * multiplier
        if  result > 25 :
            # Enter the action to take if the result is greater than 25
            break
        print(str(number) + "x" + str(multiplier) + "=" + str(result))

        # Increment the appropriate variable
        multiplier += 1


multiplication_table(3)
# Should print:
# 3x1=3
# 3x2=6

# FOR LOOPS

In [ ]:
#Ejercicios de practica
values = [23, 52, 59, 37, 48]
sum = 0
length = 0
for value in values:
    sum = sum + value
    length = length + 1
print ('la suma es ', sum , ' el promedio es ' , (sum/length))

product = 1
for n in range (1,11):
    product = n * product
print ('El producto de n*n es ', product)

print ('Números pares hasta el 19 son:')
for n in range(19):
    if n % 2 == 0:
      print (n)

la suma es  219  el promedio es  43.8
El producto de n*n es  3628800
Números pares hasta el 19 son:
0
2
4
6
8
10
12
14
16
18

# NESTED LOOPS

In [ ]:
teams = ['Dragons', 'Unicorns', 'Wolves', 'Pandas']
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print (home_team, ' vs ', away_team)

Dragons  vs  Unicorns
Dragons  vs  Wolves
Dragons  vs  Pandas
Unicorns  vs  Dragons
Unicorns  vs  Wolves
Unicorns  vs  Pandas
Wolves  vs  Dragons
Wolves  vs  Unicorns
Wolves  vs  Pandas
Pandas  vs  Dragons
Pandas  vs  Unicorns
Pandas  vs  Wolves

In [ ]:
for x in range(2):
    print("This is the outer loop iteration number " + str(x))
    for y in range(3+1):
        print("Inner loop iteration number " + str(y))
    print("Exit inner loop")

# MORE PRACTICE

In [ ]:
from re import M
def matrix (n1,n2):
    column = n1
    row = n2
    for column in range (n1,n2+1):
        for row in range (n1, n2+1):

            print(column*row, end=" ")
        print()
matrix(1,4)
matrix (2,5)

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16
4 6 8 10
6 9 12 15
8 12 16 20
10 15 20 25

In [ ]:
#CONTAR DE 10 EN 10
def count_by_10(end):
    count = ""
    for number in range(0,end+1,10):
        count += str(number) + " "    #count = count + str (number) + ---. --0--10--20--3
    return count                      # count.strip().....quita espacios en blanco
print (count_by_10(100) )             #100... count = --, number 0 a 100+1, de 10 en 10 , count = 0 10 20

0 10 20 30 40 50 60 70 80 90 100

In [ ]:
def divisible (max, divisor):
    count = 0
    for x in range (max, divisor-1,-1):
        #print (x)
        if x % divisor == 0:
            count += 1

    return count

print(divisible(100, 10)) # Should be 10
print(divisible(10, 3)) # Should be 4
print(divisible(144, 17)) # Should be 9

10
3
8

In [ ]:
for x in range (0,4):
  for y in range (4,0,-1):
    if x != y:
      print(y)

4
3
2
1
4
3
2
4
3
1
4
2
1

In [ ]:
number = 1 # Initialize the variable
while number <= 7: # Complete the while loop condition
    print(number, end=" ")
    number = number + 1

1 2 3 4 5 6 7

In [ ]:
for number in range(1,5+1):
    if number % 2 == 0:
        print("even")
    else:
        print("odd")


# Should print:
# odd
# even
# odd
# even
# odd

odd
even
odd
even
odd

In [ ]:
def digits(n):
    count = 0
    if n == 0:
      count += 1
    while n > 0:  # Complete the while loop condition
        # Complete the body of the while loop. This should include
        # performing a calculation and incrementing a variable in the
        # appropriate order.
        count = count + 1
        n = n // 10
    return count

print(digits(25))   # Should print 2
print(digits(144))  # Should print 3
print(digits(1000)) # Should print 4
print(digits(0))    # Should print 1

2
3
4
1

In [ ]:
def factorial(n):
    result = 1
    start = n
    n = n - 1
    while n > 0: # The while loop should execute as long as n is greater than 0
        result = result * n # Multiply the current result by the current value of n
        n = n - 1 # Decrement the appropriate variable by -1
    return result


print(factorial(3)) # Should print 6
print(factorial(9)) # Should print 362880
print(factorial(1)) # Should print 1

2
40320
1

In [ ]:
for x in range (1,10,3):
  print (x)

1
4
7

In [ ]:
num1 = 0
num2 = 0

for x in range(5):
    num1 = x
    for y in range(14):
        num2 = y + 3

print(num1 + num2)

20

In [ ]:
def rows_asterisks(rows):
    # Complete the outer loop range to control the number of rows
    for x in range(rows):
        # Complete the inner loop range to control the number of
        # asterisks per row
        for y in range(x+1):
            # Prints one asterisk and one space
              print( "*", end = ' ')

        # An empty print() function inserts a line break at the
        # end of the row
        print()
    return rows_asterisks


rows_asterisks(5)
# Should print the asterisk rows shown above

*
* *
* * *
* * * *
* * * * *

In [ ]:
def all_numbers(minimum, maximum):

    return_string = "" # Initializes variable as a string

    # Complete the for loop with a range that includes all
    # numbers up to and including the "maximum" value.
    for x in range (minimum, maximum+1):

        # Complete the body of the loop by appending the number
        # followed by a space to the "return_string" variable.
        return_string = return_string + str (x) + ' '


    # This .strip command will remove the final " " space
    # at the end of the "return_string".
    return return_string.strip()


print(all_numbers(2,6))  # Should be 2 3 4 5 6
print(all_numbers(3,10)) # Should be 3 4 5 6 7 8 9 10
print(all_numbers(-1,1)) # Should be -1 0 1
print(all_numbers(0,5))  # Should be 0 1 2 3 4 5
print(all_numbers(0,0))  # Should be 0

2 3 4 5 6
3 4 5 6 7 8 9 10
-1 0 1
0 1 2 3 4 5
0

In [ ]:
x=1
sum=0
while x <= 10:
  sum = sum + x #sum += x
  x = x + 1 # x += 1
print (sum)

55

In [ ]:
for x in range (1,10,3):
    print (x)

1
4
7

In [ ]:
for x in range (0,10):
  for y in range (x):
    print (y)

In [ ]:
def count_ten():
  x=1
  while x <=10:
    print (x)
    x=1+x

print (count_ten())

# STRING FORMATS

In [ ]:
# FORMAT METHODS
# This function generates a username using the first 3 letters of a user’s last name plus their birth year.
def username(last_name, birth_year):
  return ("{}{}".format((last_name[:3]),(birth_year)))
print (username("Ivanov", "1985")) #return("{}{}".format(last_name[0:3],birth_year)
print(username("Rodríguez", "2000"))

Iva1985
Rod2000

In [ ]:
#FORMAT METHODS
#This function converts measurement equivalents.
#Output is formatted as, "x ounces equals y pounds", with y limited to 2 decimal places.
def convert_weight(ounces):
  pounds = ounces/16
  result = "{} ounces equals {:.2f} pounds".format(ounces,pounds)
  return result
print(convert_weight(12)) # Should be: 12 ounces equals 0.75 pounds
print(convert_weight(50.5)) # Should be: 50.5 ounces equals 3.16 pounds
print(convert_weight(16)) # Should be: 16 ounces equals 1.00 pounds

12 ounces equals 0.75 pounds
50.5 ounces equals 3.16 pounds
16 ounces equals 1.00 pounds

In [ ]:
#FORMAT METHOD. Replace()
#This function checks a given schedule entry for an old date and, if found, the function replaces it with a new date.
'''
schedule= "Last year’s annual report will be released in March 2023"
print (schedule[:-4], schedule[-4:])
'''
def replace_date(schedule, old_date, new_date):
  if schedule.endswith(old_date):
    p = len(old_date) # p = 3. 2023, tiene 4 caracteres, 0,1,2,3
    new_schedule = schedule[:-p] + schedule[-p:].replace(old_date, new_date) #[:-p] toma el valor de p
    return new_schedule
  return schedule
print(replace_date("Last year’s annual report will be released in March 2023", "2023", "2024"))
print(replace_date("In April, the CEO will hold a conference", "April", "May"))
print(replace_date("The convention is scheduled for October", "October", "June"))

Last year’s annual report will be released in March 2024
In April, the CEO will hold a conference
The convention is scheduled for June

## EXAM

In [ ]:
def is_palindrome(input_string):
    # Two variables are initialized as string data types using empty
    # quotes: "reverse_string" to hold the "input_string" in reverse
    # order and "new_string" to hold the "input_string" minus the
    # spaces between words, if any are found.
    new_string = ""
    reverse_string = ""

    # Complete the for loop to iterate through each letter of the
    # "input_string"
    for letter in input_string:
        # The if-statement checks if the "letter" is not a space.
        if letter != " ":
            # If True, add the "letter" to the end of "new_string" and
            # to the front of "reverse_string". If False (if a space
            # is detected), no action is needed. Exit the if-block.
            new_string += letter
            reverse_string = letter + reverse_string

    # Complete the if-statement to compare the "new_string" to the
    # "reverse_string". Remember that Python is case-sensitive when
    # creating the string comparison code.
    if new_string.lower() == reverse_string.lower():
        # If True, the "input_string" contains a palindrome.
        return True

    # Otherwise, return False.
    return False


print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

In [ ]:
def convert_distance(miles):
    km = miles * 1.6
    result = "{} miles equals {___} km".___
    return result


print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

In [ ]:
weather = "Rainfold"
print (weather[:4])

Rain

In [ ]:
def nametag(first_name, last_name):
    return("___.".format(___))


print(nametag("Jane", "Smith"))
# Should display "Jane S."
print(nametag("Francesco", "Rinaldi"))
# Should display "Francesco R."
print(nametag("Jean-Luc", "Grand-Pierre"))
# Should display "Jean-Luc G."

In [ ]:
def replace_ending(sentence, old, new):
    # Check if the old substring is at the end of the sentence
    if old in sentence:
        # Using i as the slicing index, combine the part
        # of the sentence up to the matched string at the
        # end with the new string
        i = old
        new_sentence = sentence.replace(i,new)
        return new_sentence


    # Return the original sentence if there is no match
    return sentence

print(replace_ending("It's raining cats and cats", "cats", "dogs"))
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts"))
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april"))
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April"))
# Should display "The weather is nice in April"

It's raining dogs and dogs
She sells donuts by the seashore
The weather is nice in May
The weather is nice in April

In [ ]:
def replace_ending(sentence, old, new):
    # Check if the old substring is at the end of the sentence
    if sentence.endswith(old):
        # Using i as the slicing index, combine the part
        # of the sentence up to the matched string at the
        # end with the new string
        i = len(sentence) - len(old)
        new_sentence = sentence[:i] + new
        return new_sentence

    # Return the original sentence if there is no match
    return sentence

print(replace_ending("It's raining cats and cats", "cats", "dogs"))
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts"))
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april"))
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April"))
# Should display "The weather is nice in April"

In [ ]:
def get_word(sentence, n):
	# Only proceed if n is positive
	if n > 0:
		words = sentence.split()
		# Only proceed if n is not more than the number of words
		if n <= len(words):
			return(words[n - 1])
	return("")

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should prin

lesson

Now

In [ ]:
def file_size(file_info):
	___, ___, ___= file_info
	return("{:.2f}".format(___ / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48

In [ ]:
def skip_elements(elements):
	# code goes here

	return ___

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

In [ ]:
def skip_elements(elements):
  for index, element in enumerate(elements):
    if index % 2 == 0:
      print (element)
  return element
#return [element for index, element in enumerate(elements) if index % 2 == 0]
print(skip_elements(["a", "b", "c", "d", "e", "f", "g"]))  # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']))  # Should be ['Orange', 'Strawberry', 'Peach']

a
c
e
g
g
Orange
Strawberry
Peach
Peach

In [ ]:
def odd_numbers(n):
	return [x for x in range (1,n+1) if x % 2 != 0 ] # if ___]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

SKILL GROUP 2

In [ ]:
# This list comprehension creates a list of squared numbers (n*n). It
# accepts two integer variables through the function’s parameters.
def squares(start, end):
    return [x*x for x in range(start, end + 1)]

print(squares(1, 5))  # Should be [1, 4, 9, 16, 25]
print(squares(0, 10))  # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
print(squares(-5, 5))  # Should be [25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25]

SKILL GROUP 1

In [ ]:

years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]

# The variable "updated_years" is initialized as a list data type
# using empty square brackets []. This list will hold the new list
# with the updated years.
updated_years = []

# The for loop checks each "year" element in the list "years".
for year in years:

    # The if-statement checks if the "year" element ends with the
    # substring "2023".
    if year.endswith("2023"):

        # If True, then a temporary variable "new" will hold the
        # modified "year" element where the "2023" substring is
        # replaced with the substring "2024".
        new = year.replace("2023","2024")

        # Then, the list "updated_years" is appended with the changed
        # element held in the temporary variable "new".
        updated_years.append(new)

    # If False, the original "year" element will be appended to the
    # the "updated_years" list unchanged.
    else:
        updated_years.append(year)


print(updated_years)

['January 2024', 'May 2025', 'April 2024', 'August 2024', 'September 2025', 'December 2024']

In [ ]:
years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]

# The list comprehension below creates a new list "updated_years" to
# hold the command to replace the "2023" substring of the "year"
# element with the substring "2024". This action will be executed if
# the last 4 indices of the "year" string is equal to the substring
# "2023". If false (else), the "year" element will be included in the
# new list "updated_years" unchanged.
updated_years = [year.replace("2023","2024") if year[-4:] == "2023" else year for year in years]


print(updated_years)
# Should print ["January 2024", "May 2025", "April 2024", "August 2024", "September 2025", "December 2024"]

['January 2024', 'May 2025', 'April 2024', 'August 2024', 'September 2025', 'December 2024']

SKIL GROUP 4

In [ ]:
# This function splits a given string into a list of elements. Then, it
# modifies each element by moving the first character to the end of the
# element and adds a dash between the element and the moved character.
# For example, the element "2two" will be changed to "two-2". Finally,
# the function converts the list back to a string, and returns the
# new string.
def change_string(given_string):

# Initialize "new_string" as a string data type by using empty quotes.
    new_string = ""
    # Split the "given_string" into a "new_list", with each "element"
    # holding an individual word from the string.
    new_list = given_string.split()

    # The for loop iterates over each "element" in the "new_list".
    for element in new_list:

        # Convert the list into a "new_string" by using the assignment
        # operator += to concatenate the following items:
        # + Each list "element" (starting at index position [1:]),
        # + a dash "-",
        # + append the first character of the "element" (using the index
        # [0]) to the end of the "element", and finally,
        # + a space " " to separate each "element" in the "new_string".
        new_string += element[1:] + "-"  + element[0] + " "

    # Return the list that has been converted back into a string.
    return new_string


print(change_string("1one 2two 3three 4four 5five"))
# Should print "one-1 two-2 three-3 four-4 five-5"

one-1 two-2 three-3 four-4 five-5

SKILL GROUP 5

In [ ]:
# This function accepts a list name and a list of elements, and returns
# a string with the format: "The "list_name" list includes: element1,
# element2, element3".
def list_elements(list_name, elements):

    # This task can be completed in a single line of code. The
    # concatenation of strings, "list_name", and the list "elements" can
    # occur on the return line. In this case, the string "The " is added
    # to the "list_name", plus the string " list includes: ", then the
    # "elements" are joined using a comma to separate each element of the
    # list.
    return "The " + list_name + " list includes: " + ", ".join(elements)


print(list_elements("Printers", ["Color Printer", "Black and White Printer", "3-D Printer"]))
# Should print "The Printers list includes: Color Printer, Black and White Printer, 3-D Printer"

The Printers list includes: Color Printer, Black and White Printer, 3-D Printer

# EXAM

In [ ]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]

# Using a list comprehension to create the new list "newfilenames"
newfilenames = [file.replace(".hpp", ".h") if file.endswith(".hpp") else file for file in filenames]

print(newfilenames)
# Output: ['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [ ]:
text = "hello how are you"

def pig_latin(text):
  say = ""
  # Separate the text into words
words = text.split()

print (words)
'''
  for word in words:
    # Create the pig latin word and add it to the list
    ___
    # Turn the list back into a phrase
  return ___

print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"
'''

['hello', 'how', 'are', 'you']

'  \n  for word in words:\n    # Create the pig latin word and add it to the list\n    ___\n    # Turn the list back into a phrase\n  return ___\n\t\t\nprint(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"\nprint(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"\n'

In [ ]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split()
  newpig_latin = []
  for word in words:
    # Create the pig latin word and add it to the list
    latin_word = word[1:] + word[0] + 'ay'
    newpig_latin.append(latin_word)
    # Turn the list back into a phrase
  return newpig_latin

print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

['ellohay', 'owhay', 'reaay', 'ouyay']
['rogrammingpay', 'niay', 'ythonpay', 'siay', 'unfay']

In [ ]:
def group_list(group, users):
  members = ",".join(users)
  return '{} : {}'. format (group, members)

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing : Mike,Karen,Jake,Tasha
Engineering : Kim,Jay,Tom
Users :

In [ ]:
def group_list(group, users):
    members = ", ".join(users)
    return f"{group}: {members}"

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"]))  # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"]))  # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", ""))  # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

In [ ]:
def guest_list(guests):
  for guest in guests:
    name, age, job = guest
    print('{} is {} years old and works as {}'.format(name, age, job))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
'''
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
'''

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

In [ ]:
def guest_list(guests):
    for guest in guests:
        name, age, occupation = guest
        print("{} is {} years old and works as {}".format(name, age, occupation))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

# DICTIONARIES
### Operations


*   len(dictionary) - Returns the number of items in a dictionary.
*   for key, in dictionary - Iterates over each key in a dictionary.
*   for key, value in dictionary.items() - Iterates over each key,value pair in a dictionary.
*   if key in dictionary - Checks whether a key is in a dictionary.
*   dictionary[key] - Accesses a value using the associated key from a dictionary.
*   dictionary[key] = value - Sets a value associated with a key.
*   del dictionary[key] - Removes a value using the associated key from a dictionary.

### Methods

*   dictionary.get(key, default) - Returns the value corresponding to a key, or the default value if the specified key is not present.
*   dictionary.keys() - Returns a sequence containing the keys in a dictionary.
*   dictionary.values() - Returns a sequence containing the values in a dictionary.
*   dictionary[key].append(value) - Appends a new value for an existing key.
*   dictionary.update(other_dictionary) - Updates a dictionary with the items from another dictionary. Existing entries are updated; new entries are added.
*   dictionary.clear() - Deletes all items from a dictionary.
*   dictionary.copy() - Makes a copy of a dictionary.

In [ ]:
def count_letters(text):
  result = {}
  for letter in text:         #por cada caracter que esté en 'text'
    if letter not in result:     # ¿el caracter no está en el diccionario?
      result[letter] = 0       # T: el diccionario añade el caracter con un valor de cero (inicializa el conteo)
    result[letter] += 1        # F: se incrementa el valor del caracter 1 a 1
  return result

print(count_letters ('aaaaa'))
print(count_letters ('abcab'))
#print(len(result))

{'a': 5}
{'a': 2, 'b': 2, 'c': 1}

In [ ]:
pet_dictionary = {"dogs": ["Yorkie", "Collie", "Bulldog"], "cats": ["Persian", "Scottish Fold", "Siberian"], "rabbits": ["Angora", "Holland Lop", "Harlequin"]}


print(pet_dictionary.get("dogs", 0))
# Should print ['Yorkie', 'Collie', 'Bulldog']

['Yorkie', 'Collie', 'Bulldog']

In [ ]:
# This function returns the total time, with minutes represented as
# decimals (example: 1 hour 30 minutes = 1.5), for all end user time
# spent accessing a server in a given day.


def sum_server_use_time(Server):

    # Initialize the variable as a float data type, which will be used
    # to hold the sum of the total hours and minutes of server usage by
    # end users in a day.
    total_use_time = 0.0

    # Iterate through the "Server" dictionary’s key and value items
    # using a for loop.
    for key,value in Server.items():

        # For each end user key, add the associated time value to the
        # total sum of all end user use time.
        total_use_time += Server[key]

    # Round the return value and limit to 2 decimal places.
    return round(total_use_time, 2)

FileServer = {"EndUser1": 2.25, "EndUser2": 4.5, "EndUser3": 1, "EndUser4": 3.75, "EndUser5": 0.6, "EndUser6": 8}

print(sum_server_use_time(FileServer)) # Should print 20.1

20.1

In [ ]:
# This function receives a dictionary, which contains common employee
# last names as keys, and a list of employee first names as values.
# The function generates a new list that contains each employees’ full
# name (First_name Last_Name). For example, the key "Garcia" with the
# values ["Maria", "Hugo", "Lucia"] should be converted to a list
# that contains ["Maria Garcia", "Hugo Garcia", "Lucia Garcia"].


def list_full_names(employee_dictionary):
    # Initialize the "full_names" variable as a list data type using
    # empty [] square brackets.
    full_names = []

    # The outer for loop iterates through each "last_name" key and
    # associated "first_name" values, in the "employee_dictionary" items.
    for last_name, first_names in employee_dictionary.items():

        # The inner for loop iterates over each "first_name" value in
        # the list of "first_names" for one "last_name" key at a time.
        for first_name in first_names:

            # Append the new "full_names" list with the "first_name" value
            # concatenated with a space " ", and the key "last_name".
            full_names.append(first_name+" "+last_name)

    # Return the new "full_names" list once the outer for loop has
    # completed all iterations.
    return(full_names)


print(list_full_names({"Ali": ["Muhammad", "Amir", "Malik"], "Devi": ["Ram", "Amaira"], "Chen": ["Feng", "Li"]}))
# Should print ['Muhammad Ali', 'Amir Ali', 'Malik Ali', 'Ram Devi', 'Amaira Devi', 'Feng Chen', 'Li Chen']

['Muhammad Ali', 'Amir Ali', 'Malik Ali', 'Ram Devi', 'Amaira Devi', 'Feng Chen', 'Li Chen']

In [ ]:
# This function receives a dictionary, which contains resource
# categories (keys) with a list of available resources (values) for a
# company’s IT Department. The resources belong to multiple categories.
# The function should reverse the keys and values to show which
# categories (values) each resource (key) belongs to.


def invert_resource_dict(resource_dictionary):
  # Initialize a "new_dictionary" variable as a dict data type using
  # empty {} curly brackets.
    new_dictionary = {}
    # The outer for loop iterates through each "resource_group" and
    # associated "resources" in the "resource_dictionary" items.
    for resource_group, resources in resource_dictionary.items():
        # The inner for loop iterates over each "resource" value in
        # the list of "resources" for one "resource_group" key at a time.
        for resource in resources:
            # The if-statement checks if the current "resource" value has
            # been appended as a key to the "new_dictionary" yet.
            if resource in new_dictionary:
                # If True, then append the "resource_group" as a value to the
                # "resource", which is now the key.
                new_dictionary[resource].append(resource_group)
            # If False (else), then add the "resource" as a new key with the
            # "resource_group" as a value for that key.
            else:
                new_dictionary[resource] = [resource_group]
    # Return the new dictionary once the outer for loop has completed
    # all iterations.
    return(new_dictionary)


print(invert_resource_dict({"Hard Drives": ["IDE HDDs", "SCSI HDDs"],
        "PC Parts":  ["IDE HDDs", "SCSI HDDs", "High-end video cards", "Basic video cards"], "Video Cards": ["High-end video cards", "Basic video cards"]}))
# Should print {'IDE HDDs': ['Hard Drives', 'PC Parts'], 'SCSI HDDs': ['Hard Drives', 'PC Parts'], 'High-end video cards': ['PC Parts', 'Video Cards'], 'Basic video cards': ['PC Parts', 'Video Cards']}

In [ ]:
def email_list(domains):
	emails = []
	for domain_name, users in domains.items ():
	  for user in users:
	    emails.append (user + '@' + domain_name)
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

In [ ]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for ___:
		# Now go through the users in the group
		for ___:
			# Now add the group to the the list of
# groups for this user, creating the entry
# in the dictionary if necessary

	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

In [ ]:
def groups_per_user(group_dictionary):
    user_groups = {}
    # Go through group_dictionary
    for group, users in group_dictionary.items():
        # Now go through the users in the group
        for user in users:
            # Now add the group to the list of groups for this user,
            # creating the entry in the dictionary if necessary
            if user in user_groups:
                user_groups[user].append(group)
            else:
                user_groups[user] = [group]

    return user_groups

print(groups_per_user({
    "local": ["admin", "userA"],
    "public": ["admin", "userB"],
    "administrator": ["admin"]
}))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [ ]:
def add_prices(basket):
    # Initialize the variable that will be used for the calculation
    total = 0
    # Iterate through the dictionary items
    for item, price in basket.items():
        # Add each price to the total calculation
        # Hint: how do you access the values of dictionary items?
        total += price
    # Limit the return value to 2 decimal places
    return round(total, 2)

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59,
             "coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries))  # Should print 28.44

28.44

In [ ]:
def sales_prices(item_and_price):
    # Initialize variables "item" and "price" as strings
    item = ""
    price = ""
    # Create a variable "item_or_price" to hold the result of the split.
    item_or_price = item_and_price.split()

    # For each element "x" in the split variable "item_or_price"
    for x in item_or_price:

        # Check if the element is a number
        if x.isalpha():

            # If true, assign the element to the "item" string variable and add a space
            # for any item names containing multiple words, like "Winter fleece jacket".
            item += x + " "

        # Else, if x is a number (if x.isalpha() is false):
        else:
            # Assign the element to the "price" string variable.
            price = x

    # Strip the extra space to the right of the last "item" word
    item = item.strip()

    # Return the item name and price formatted in a sentence
    return "{} are on sale for ${}".format(item,price)


# Call to the function
print(sales_prices("Winter fleece jackets 49.99"))
# Should print "Winter fleece jackets are on sale for $49.99"

Winter fleece jackets are on sale for $49.99

In [ ]:
# This function accepts a string variable "data_field".
def count_words(data_field):

    # Splits the string into individual words.
    split_data = data_field.split()

    # Then returns the number of words in the string using the len()
    # function.
    return len(split_data)

    # Note that it is possible to combine the len() function and the
    # .split() method into the same line of code by inserting the
    # data_field.split() command into the the len() function parameters.

# Call to the function
count_words("Catalog item 3523: Organic raw pumpkin seeds in shell")
# Should print 9

9

In [ ]:
recent_first = [2022, 2018, 2011, 2006]
recent_last = [1989, 1992, 1997, 2001]
recent_first.reverse()
recent_last.extend(recent_first)
print (recent_first)
print (recent_last)

[2006, 2011, 2018, 2022]
[1989, 1992, 1997, 2001, 2006, 2011, 2018, 2022]

.reverse()  .extend()

In [ ]:
# This function accepts two variables, each containing a list of years.
# A current "recent_first" list contains [2022, 2018, 2011, 2006].
# An older "recent_last" list contains [1989, 1992, 1997, 2001].
# The lists need to be combined with the years in chronological order.
def record_profit_years(recent_first, recent_last):

    # Reverse the order of the "recent_first" list so that it is in
    # chronological order.
    recent_first.reverse()

    # Extend the "recent_last" list by appending the newly reversed
    # "recent_first" list.
    recent_last.extend(recent_first)

    # Return the "recent_last", which now contains the two lists
    # combined in chronological order.
    return recent_last

# Assign the two lists to the two variables to be passed to the
# record_profit_years() function.
recent_first = [2022, 2018, 2011, 2006]
recent_last = [1989, 1992, 1997, 2001]



# Call the record_profit_years() function and pass the two lists as
# parameters.
print(record_profit_years(recent_first, recent_last))
# Should print [1989, 1992, 1997, 2001, 2006, 2011, 2018, 2022]

[1989, 1992, 1997, 2001, 2006, 2011, 2018, 2022]

In [ ]:
# The function accepts two parameters: a start year and an end year.
def list_years(start, end):

    # It returns a list comprehension that creates a list of years in a for
    # loop using a range from the start year to the end year (inclusive of
    # the upper range year, using end+1).
    return [year for year in range(start, end+1)]


# Call the years() function with two parameters.
print(list_years(1972, 1975))
# Should print [1972, 1973, 1974, 1975]

[1972, 1973, 1974, 1975]

In [ ]:
# The network() function accepts a dictionary "servers" as a parameter.
def network(servers):

    # A string variable is initialized to hold the "result".
    result = ""

    # For each "hostname" (key) and "IP address" (value) in the "server" dictionary items...
    for hostname, IP_address in servers.items():

        # A string identifying the hostname and IP address for each server is added
        # to the "result" variable. The string .format() function and is used to plug
        # the hostname and IP_address variables into the designated {} placeholders
        # within the string.
        result += "The IP address of the {} server is {}".format(hostname, IP_address) + "\n"

    # Return the "result" variable string.
    return result

# Call the "network" function with the dictionary.
print(network({"Domain Name Server":"8.8.8.8", "Gateway Server":"192.168.1.1", "Print Server":"192.168.1.33", "Mail Server":"192.168.1.190"}))

# Should print:
# The IP address of the Domain Name Server server is 8.8.8.8
# The IP address of the Gateway Server server is 192.168.1.1
# The IP address of the Print Server server is 192.168.1.33
# The IP address of the Mail Server server is 192.168.1.190

.copy()

In [ ]:
# The scores() function accepts a dictionary "game_scores" as a parameter.
def reset_scores(game_scores):

    # The .copy() dictionary method is used to create a new copy of the "game_scores".
    new_game_scores = game_scores.copy()

    # The for loop iterates over new_game_scores items, with the player as the key
    # and the score as the value.
    for player, score in new_game_scores.items():

        # The dictionary operation to assign a new value to a key is used
        # to reset the grade values to 0.
        new_game_scores[player] = 0

    return new_game_scores

# The dictionary is defined.
game1_scores = {"Arshi": 3, "Catalina": 7, "Diego": 6}

# Call the "reset_scores" function with the "game1_scores" dictionary.
print(reset_scores(game1_scores))
# Should print {'Arshi': 0, 'Catalina': 0, 'Diego': 0}

# EXAM

In [ ]:
def format_address(address_string):
    house_number = ""
    street_name = ""

    # Separate the house number from the street name.
    address_parts = address_string.split()

    for address_part in address_parts:
        # Complete the if-statement with a string method.
        if address_part.isdigit():
            house_number = address_part
        else:
            street_name += address_part + " "

    # Remove the extra space at the end of the last "street_name".
    street_name = street_name.strip()

    # Use a string method to return the required formatted string.
    return f"House number {house_number} on a street named {street_name}"


print(format_address("123 Main Street"))
# Should print: "House number 123 on a street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "House number 1001 on a street named 1st Ave"

print(format_address("55 North Center Drive"))

In [ ]:
def check_guests(guest_list, guest):
  return ___ # Return the value for the given key


guest_list = { "Adam":3, "Camila":3, "David":5, "Jamal":3, "Charley":2, "Titus":1, "Raj":6, "Noemi":1, "Sakira":3, "Chidi":5}


print(check_guests(guest_list, "Adam")) # Should print 3
print(check_guests(guest_list, "Sakira")) # Should print 3
print(check_guests(guest_list, "Charley")) # Should print 2

In [ ]:
def setup_gradebook(old_gradebook):
  # Use a dictionary method to create a new copy of the "old_gradebook".
  new_gradebook = old_gradebook.copy()
    # Complete the for loop to iterate over the new gradebook.
  for name, grade in new_gradebook.items():
        # Use a dictionary operation to reset the grade values to 0.
        new_gradebook [name] = 0
  return new_gradebook

fall_gradebook = {"James": 93, "Felicity": 98, "Barakaa": 80}
print(setup_gradebook(fall_gradebook))
# Should output {'James': 0, 'Felicity': 0, 'Barakaa': 0}

{'James': 0, 'Felicity': 0, 'Barakaa': 0}

In [ ]:
genre = 'transcendental'
print(genre[:-8])
print(genre[-7:9])
g = {'a':12, 'b':23, 'c':14}
g.values()
#g = g.append ('d')
#print(g)

transc
nd

dict_values([12, 23, 14])